.search-bar{
    margin: 2rem auto;
    height: 5rem;
    width: 20rem;
    display: flex;
    flex-direction: column;

    &__label{
        text-align: center;
    }
    &__input{
        margin: 0.5rem;
        height: 2rem;
        border-radius: 10px;
        border: 2px dotted;
    }

}