@use "../../assets/scss/variables" as *;

.home{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__search-area{
        margin-top: 1rem;
        font-family: $fontSecondary;
    }
}