@use "../../assets/scss/variables" as *;

.course-list{
    background: $colorRed;
    background: linear-gradient(0deg, $colorRed 2%, $colorSecondary 94%);
    display: flex;
    overflow-x: scroll;
    margin-left: 0.5rem;
    width: 100vw;
    border-radius: 10px;

    &__card{
        display: inline-flex;
    }

    &::-webkit-scrollbar{
        width: 0;
    }
}