@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Comfortaa:wght@300&family=Edu+TAS+Beginner:wght@500&display=swap');

$fontPrimary: 'Barlow', sans-serif;
$fontSecondary: 'Comfortaa', 'cursive';
$fontParagraph: 'Edu TAS Beginner', 'cursive';

$colorPrimary: #E67F0D;
$colorSecondary: #FFAE03;
$colorBlack: #2E3138;
$colorPink: #FF0F80;
$colorRed: #E9190F;